# ignore database files
*.db

# ignore .txt files
*.txt

# except requirements.txt
!requirements.txt

# ignore pycache folder
__pycache__

# ignore logging files
*.log

# ignore folders by pycharm
.idea

